/* General styles for home 
————————————————————————————————————————*/

main.home {
	padding: 0;
}

main.home section,
main.home div {
	position: relative;
	overflow: hidden;
}

main.home header,
main.home figure,
main.home .box-body {
	padding: 0 20px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}


/* Slides box
————————————————————————————————————————*/

#home-slides {
	position: relative;
	padding-top: 64.5%;
}

@media screen and (min-width: 769px) {
	#home-slides {
		padding-top: 0;
		height: 500px
	}
}

#home-slides {
	background-image: url(res/slide-01.jpg);
	background-size: 100%;
}

div#lente-slides {
	position: absolute;
	background: rgba(102, 139, 177, 0.67);
	height: 27%;
	bottom: 0;
	width: 100%;
}

#slides-title-container {
	position: relative;
	padding-top: 17px;
	padding-left: 20px;
	color: #fff;
	font-weight: 700;
	font-size: 22px;
}


div#calendar-button {
	position: absolute;
	background: #668BB1;
	height: 100%;
	width: 16.27%;
	bottom: 0;
	right: 0;
}


/* Home boxes
————————————————————————————————————————*/

/* SIZE AND POSITIONING*/

.home-box header {
	padding-top: 20px;
	padding-bottom: 20px;
	background: transparent;
}

.home-box figure {
	position: relative;
	width: 100%;
}

.home-box .pics {
	width: 100%;
	height: auto;
	top: 0;
}

#home-sma .pics {
	padding-top: 31px;
}

.book-container {
	padding-top: 28px;
	padding-bottom: 51px;
	text-align: center;
}

.home-box .book-cover {
	height: 200px;
	top: 0;
	box-shadow: 10px 10px #ccc;
}

.home-box input.search-box {
	margin-top: 35px;
	margin-bottom: 58px;
	width: 100%;
	height: 43px;
	font-size: 20px;
	border: none;
	box-sizing: border-box;
	padding-left: 20px;
	color: #888;
}


/* HEADERS AND DESCRIPTIONS */

.home-box h1 {
	font-weight: 700;
	font-size: 22px;
	padding-top: 20px;
	padding-bottom: 20px;
}


.box-header h1 {
	bottom: 30%;
	left: 15%;
}

#home-pub h1 {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}

.home-box .descriptions {
	font-weight: 700;
	font-size: 20px;
	border-bottom: 3px solid #000;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 35px;
}

#home-sma .didascalia {
	color: #fff;
	border: none;
	padding-top: 16px;
	padding-bottom: 40px;
	font-size: 26px;
}

#home-sba h1,
#home-sma h1 {
	color: #fff
}

/* CUSTOM ELEMENTS */

#home-pub .next-icon {
	position: absolute;
	top: 30%;
	width: 3%;
	right: 20px;
}

#home-pub div {
	color: #fff;
	border-bottom: 1px solid #fff;
}

#home-pub div:last-child {
	border: none;
}

.vai-al-sito {
	text-decoration: underline;
	position: absolute;
	padding: inherit;
	right: 0;
	font-weight: 700;
	font-size: 18px;
}

#home-sba .vai-al-sito {
	color: #777;
	bottom: 19px;
}

#home-sma .vai-al-sito {
	color: #fff;
	bottom: 44px;
}

#home-fup .vai-al-sito,
#home-issuu .vai-al-sito {
	color: #000;
	bottom: -34px;
}



/* BG COLORS */

#home-news {
	background: #E6E6E6;
}

#home-unifimag {
	background: #fff;
}

#home-sba header {
	background: #668BB1;
}

#home-sba {
	background: #d1dce7;
}

#home-sma {
	background: #B3333A;
}

#home-sma header {
	background: #A00009;
}

#home-fup {
	background: #eee;
}

#home-fup header {
	background: #CCCCCC;
}

#home-pub {
	background: #83A2C0;
}

#home-pub header {
	background: #668BB1;
}

#home-issuu {
	background: #E6E6E6;
}

#home-issuu header {
	background: #CCCCCC;
}








/* Mobile|Desktop Breakpoint */

@media screen and (min-width: 1025px) {

	#lente-slides {
		height: 100%;
		width: 30%;
		right: 0;
	}

	#slides-title {
		font-size: 36px;
		padding: 0 15px;
	}

	#calendar-button {
		top: 0;
		left: 0;
		height: 125px;
		width: 150px;
	}
}
