/* General styles
————————————————————————————————————————*/

body {
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
	font-family: 'Titillium Web', sans-serif;
}


/* Margini
————————————————————————————————————————*/

header,
main,
footer {
	padding: 0 20px;
}


/* Header and navigation
————————————————————————————————————————*/

header {
	background: #004180;
	position: relative;
	padding: 20px;
}

img#logo {
	max-height: 83px;
	display: block;
}

@media screen and (min-width: 769px) {
	header {
		padding-top: 0px;
		height: 210px;
	}
	#logo {
		left: 36px;
	}
}

.navicon {
	position: absolute;
	height: 20%;
	bottom: 40%;
	right: 4%
}

.cerca-mobile-container {
	position: absolute;
	background: #A00009;
	width: 16.27%;
	padding-top: 14%;
	top: 100%;
	right: 0;
	display: block;
}

.cerca-icon {
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
}

.cerca {
	position: absolute;
	background: #eee;
	width: 220px;
	height: 43px;
	top: 148px;
	left: 36px;
}

.serviziol {
	display: none;
}



/* Mobile|Desktop Breakpoint */

.desktop {
	display: none;
}

@media screen and (min-width: 1025px) {
	header {
		height: 306px;
	}

	#logo {
		top: 20px;
		height: 117px;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}
}

/* Desktop Navigation */

.menu-scuole {}

.menu-dipartimenti {}

.menu-sopra,
.menu-sotto {
	position: absolute;
	width: 100%;
	border-bottom: .1px solid #ccc;
	background: #fff;
}

.menu-sopra {
	height: 60px;
	bottom: 36px;
}

.menu-sotto {
	height: 36px;
	bottom: 0;
}



/* Main
————————————————————————————————————————*/

main {
	position: relative;
	min-height: 300px;
}



/* Pages
————————————————————————————————————————*/

article {
	padding-top: 24%;
	padding-bottom: 24%;
}

article h1 {
	font-size: 26px;
	font-weight: 700;
	padding-bottom: 22px;
}

article h2 {
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 9px;
}

article p {
	font-size: 18px;
	line-height: 1.15;
}


article figure {
	width: 100%;
}

article img.immagine-singola {
	width: 100%;
	height: auto;
	margin: 7% 0;
}

article img.immagine-doppia {
	width: 48%;
	height: auto;
	margin: 7% 0;
}

article img.immagine-doppia:first-child {
	margin-right: 2%;
}



/* Footer
————————————————————————————————————————*/

footer {
	background-color: #004180;
}

@media screen and (min-width: 769px) {
	.footer-link {
		padding-top: 0;
		height: 95px
	}
	;
	#social-and-info {
		padding-top: 0;
		height: 384px
	}
	;
}


.footer-link {
	position: relative;
	color: #fff;
	border-top: 1px solid #fff;
}

.footer-link:first-of-type {
	border: none;
}

.footer-link h1 {
	font-size: 20px;
	padding: 21px 0;
	bottom: 33%;
	left: 7%;
}

footer #social-and-info {
	padding: 6% 0;
}

footer #social-links {
	padding-top: 9.11%;
	position: relative;
}




footer #info {
	text-align: right;
	color: #fff
}

footer #info h2 {
	font-size: 4vw;
	margin: 6% 8% 2%;
	font-weight: 700;
}

footer #info p {
	font-size: 3.5vw;
	margin: 1.5% 8%;
}

footer a {}






/* WORK IN PROGRESS
————————————————————————————————————————*/

#desktop-alert {
	text-align: center;
	color: red;
	padding-top: 30px;
}

@media screen and (min-width: 1025px) {
	header,
	main,
	footer {
		display: none;
	}
}
