/* APPUNTI BREAKPOINTS
smartphones
larghezza-portrait: 320-414 px
parghezza-landscape: 346-740 (812 iphone X)

iphone 4 		320 x 480
iphone 5 		320 x 568
iphone 6,7,8	375 x 667
iphone X 		375 x 812
iphone 6+,7+,8+ 414 x 736

tablets
larghezza-portrait: 600-800 (1024) px
parghezza-landscape: 800-1280 (1366, 1440) px
*/

/* General styles
————————————————————————————————————————*/

body {
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
}

input {
	font-family: 'Titillium Web', sans-serif;
}


/* Margini
————————————————————————————————————————*/

header,
main,
footer {
	padding: 0 10px;
}


/* Header and navigation
————————————————————————————————————————*/

header {
	background: #004180;
	position: relative;
	padding: 20px 10px;
}

#logo {
	height: 83px;
}

/*
@media screen and (min-width: 769px) {
	header {
		padding-top: 0px;
		height: 210px;
	}
	#logo {
		left: 36px;
	}
}
*/

#mobile-nav-button {
	background-image: url(res/menu-icon.svg);
	background-repeat: no-repeat;
	position: absolute;
	height: 22px;
	width: 36px;
	top: 49px;
	right: 10px;
	cursor: pointer;
}

#menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 70%;
	min-width: 280px;
	text-align: right;
	z-index: 4;
	background: #004180;
}

#mobile-nav-close {
	display: inline-block;
	background-image: url(res/close-icon.svg);
	background-repeat: no-repeat;
	height: 27px;
	width: 26px;
	margin: 47px 10px 52px;
	cursor: pointer;
}


#obscuro {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
	z-index: 2;
}

#servizi-ol {
	font-weight: 700;
	font-size: 19px;
	padding-right: 43px;
	background-image: url(res/freccia.svg);
	background-repeat: no-repeat;
	background-size: 29px;
	background-position: right;
	
}


ul#top-menu,
ul#lower-menu {
	background: #A00009;
}

ul#upper-menu {
	background: #668BB1;
}

ul#unifi-comunica-menu {
	background: #fff;
}

li#unifi-comunica {
	color: #A00009;
}

nav li {
	text-transform: uppercase;
	padding: 15px 0;
	margin: 0 12px;
	font-size: 18px;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
}

nav li.apribile {
	background-image: url(res/freccetta-basso.svg);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: left;
}

nav li:last-child {
	border: none;
}




.cerca-mobile-container {
	position: absolute;
	width: calc(100% - 97px);
	height: 50px;
	top: 100%;
	right: 0;
	z-index: 3;
}

.cerca-mobile-button {
	position: absolute;
	right: 0;
	height: 100%;
	background: #A00009;
	cursor: pointer;
}

#cerca-mobile-field {
	top: 0;
	height: 100%;
	width: 100%;
	font-size: 21px;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 70px;
	color: #555;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid grey;
	border-radius: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}



/* Mobile|Desktop Breakpoint */

.desktop {
	display: none;
}

@media screen and (min-width: 1025px) {
	header {
		height: 306px;
	}

	#logo {
		top: 20px;
		height: 117px;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}
}

/* Desktop Navigation */

.menu-scuole {}

.menu-dipartimenti {}

.menu-sopra,
.menu-sotto {
	position: absolute;
	width: 100%;
	border-bottom: .1px solid #ccc;
	background: #fff;
}

.menu-sopra {
	height: 60px;
	bottom: 36px;
}

.menu-sotto {
	height: 36px;
	bottom: 0;
}



/* Main
————————————————————————————————————————*/

main {
	position: relative;
	min-height: 300px;
}



/* Pages
————————————————————————————————————————*/

article {
	padding: 26% 0;
}

article h1 {
	font-size: 26px;
	font-weight: 700;
	padding-bottom: 22px;
}

article h2 {
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 9px;
}

article p {
	font-size: 18px;
	line-height: 1.5;
}


article figure {
	width: 100%;
}

article img.immagine-singola {
	width: 100%;
	height: auto;
	margin: 7% 0;
}

article img.immagine-doppia {
	width: 48%;
	height: auto;
	margin: 7% 0;
}

article img.immagine-doppia:first-child {
	margin-right: 2%;
}



/* Footer
————————————————————————————————————————*/

footer {
	background-color: #004180;
	padding-top: 10px
}

@media screen and (min-width: 769px) {
	.footer-link {
		padding-top: 0;
		height: 95px
	}
	;
	#social-and-info {
		padding-top: 0;
		height: 384px
	}
	;
}


.footer-link {
	position: relative;
	color: #fff;
	border-top: 1px solid #fff;
}

.footer-link:first-of-type {
	border: none;
}

.footer-link h1 {
	font-size: 17px;
	padding: 21px 0;
	bottom: 33%;
	left: 7%;
}

footer #social-and-info {
	padding: 22% 0 11%;
}

footer #social-links {
	position: relative;
}


footer #info {
	text-align: right;
	color: #fff
}

footer #info h2 {
	font-size: 18px;
	margin: 6% 0 2%;
	font-weight: 700;
}

footer #info p {
	font-size: 16px;
	margin: 1.5% 0;
}

footer #info a {
	text-decoration: none;
	color: #fff;
}






/* WORK IN PROGRESS
————————————————————————————————————————*/

#desktop-alert {
	text-align: center;
	color: red;
	padding-top: 30px;
}

@media screen and (min-width: 1025px) {
	header,
	main,
	footer,
	#home-slides {
		display: none;
	}
}



/* VARIAZIONI
————————————————————————————————————————
#obscuro {
	top: 124px;
} 

#logo-container {z-index: 6; height: 84px;}
#logo {position: absolute; z-index: 9;}

*/
